/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Arial', sans-serif; */
  background-color: white;
  color: black;
  line-height: 1.6;
}

.App {
  width: 100%;
}

.dark-mode {
  background-color: #333;
  color: #e6e6e6;
}

.nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #ccc;
}

.nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.nav .nav-container .background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nav .nav-container .background-container:hover {
  background-color: #f7f7f8;
}

.nav .nav-container .logo {
  width: 35px;
  height: 40px;
  border-radius: 30%;
  cursor: pointer;
}

.nav .nav-container .ModeLogo {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.nav .nav-container .logo:hover,
.nav .nav-container .ModeLogo:hover {
  transform: scale(1.1); /* 글씨를 1.1배 확대 */
  transition: transform 0.2s ease-in-out; /* 확대가 자연스럽게 이루어지도록 설정 */
}

.body-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-top: 48px
}

.body-container .mode-selector {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  padding: 20px 10px;
  border-radius: 8px;
  background-color: #FF6500;
}

.body-container .mode-selector .leftLink,
.body-container .mode-selector .rightLink {
  width: 100%;
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftLink.active, .rightLink.active {
  border-bottom: 2px solid white;
}

.body-container .mode-selector .leftLink:hover,
.body-container .mode-selector .rightLink:hover {
  transform: scale(1.1); /* 글씨를 1.1배 확대 */
  transition: transform 0.2s ease-in-out; /* 확대가 자연스럽게 이루어지도록 설정 */
}


.body-container .mode-selector a {
  display: flex;
  justify-content: center;
  color: white;
  text-decoration-line: none;
}

.body-container .calculator {
  height: 370px;
}
.body-container .default.calculator {
  height: 370px;
}

.body-container .saving.calculator {
  height: 470px;
}

.body-container .calculator .mode {
  margin: 16px 0;
}

.body-container .calculator .input-group {
  height: 100px;
}

.body-container .calculator .input-group .title {
  font-size: 17px;
  font-weight: 400;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 16px 0;
  font-size: 16px;
  font-weight: 400;
}

input:focus {
  border: 2px solid #FF6500;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #FF6500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff812d;
}

.calculation-summary .summary-titles {
  display: flex;
  flex-wrap: wrap; /* 요소가 화면을 넘길 경우 자동으로 다음 줄로 넘기도록 */
  justify-content: space-around;
  text-align: center;
  padding: 15px 25px;
  border-top: 1px solid #ccc;
  margin-top: 30px;
}

.calculation-summary .summary-titles .title {
  font-size: 20px;
}

.calculation-summary .summary-titles .titleAndValue .value {
  display: block;
  font-size: 32px;
  font-weight: 600;
} 

.calculation-summary .summary-titles .titleAndValue .value.green {
  color: #18c118;
}

.calculation-summary .summary-titles .titleAndValue .value.totalFinalAcount {
  color: #FF6500;
}

.calculation-summary .summary-table {
  border-top: 1px solid #ccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 5px;
  border: 1px solid #ddd;
  text-align: center;
}

/* table th {
  background-color: #f4f4f4;
} */

table tbody tr .profit {
  color: #18c118;
}

table tbody tr .totalFinalAcount{
  color:#FF6500;
}

ul {
  list-style: none;
  margin-left: 10px;
}

.info {
  padding-top: 50px;
}

h2 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.footer .footer-item {
  display: block;
}

/* 반응형 웹을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .App {
    padding: 10px;
    border-radius: 0px;
  }

  input[type="text"] {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  table th, table td {
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
  }

  p, ul {
    font-size: 14px;
  }
}

.footer {
  font-size: 13px;
  text-align: center;
  padding: 16px 0;
}

@media (max-width: 480px) {
  .App {
    padding: 5px;
  }

  input[type="text"] {
    font-size: 12px;
    padding: 6px;
  }

  button {
    font-size: 12px;
    padding: 6px 12px;
  }

  table th, table td {
    font-size: 12px;
    padding: 6px;
  }

  h2 {
    font-size: 16px;
  }

  p, ul {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .calculation-summary .summary-titles .title {
    font-size: 15px;
  }

  .calculation-summary .summary-titles .titleAndValue .value {
    font-size: 25px;
  } 
}
