/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Arial', sans-serif; */
  background-color: white;
  color: s#494949;
  line-height: 1.6;
}

.App {
  width: 100%;
}


.nav {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid #494949;
}

.nav .nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  padding: 10px 0px;
  margin: 0 auto;
}

.App .body-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #494949;
  border-radius: 12px;
  margin-top: 48px
}

h2 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

.App .body-container .input-group .title {
  font-size: 17px;
  font-weight: 400;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 16px 0;
  font-size: 16px;
  font-weight: 400;
}

input:focus {
  border: 2px solid #FF6500;
  outline: none;
}

button {
  padding: 10px 20px;
  background-color: #FF6500;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff812d;
}

.calculation-summary .summary-titles {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 15px 25px;
  border-top: 1px solid #494949;
  margin-top: 30px;
}

.calculation-summary .summary-titles .title {
  font-size: 20px;
}

.calculation-summary .summary-titles .titleAndValue .value {
  display: block;
  font-size: 32px;
  font-weight: 500;
} 

.calculation-summary .summary-titles .titleAndValue .value.green {
  color: #18c118;
}

.calculation-summary .summary-table {
  border-top: 1px solid #494949;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

table th {
  background-color: #f4f4f4;
}

/* 반응형 웹을 위한 미디어 쿼리 */
@media (max-width: 768px) {
  .App {
    padding: 10px;
    border-radius: 0px;
  }

  input[type="text"] {
    font-size: 14px;
    padding: 8px;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  table th, table td {
    font-size: 14px;
    padding: 8px;
  }

  h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .App {
    padding: 5px;
  }

  input[type="text"] {
    font-size: 12px;
    padding: 6px;
  }

  button {
    font-size: 12px;
    padding: 6px 12px;
  }

  table th, table td {
    font-size: 12px;
    padding: 6px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}
